@use "sass:math";

@import '../../../../themes/skeleton-wp/assets/css/functions';
@import '../../../../themes/skeleton-wp/assets/css/settings';

.quotes-slider {
  position: relative;
  margin: em(80) 0 em(80) 0;
  padding: 0 em(64);
  @media #{$w1024} {
    margin: em(48) 0 em(48) 0;
    padding: 0;
  }
  &:first-child {
    margin-top: 0 !important;
  }
  &:last-child {
    margin-bottom: 0 !important;
  }
}
.quotes-slider__slider {

}
.quotes-slider__item {

}
.quotes-slider__item__wrap {
  max-width: em(768);
  margin-left: auto;
  margin-right: auto;
}
.quotes-slider__author {
  display: flex;
  justify-content: center;
  margin-top: em(32);
}
